@import './variable.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

*, li, a, ul {
    list-style: none;
    text-decoration: none;
}

h1, h2, h3, p, button {
    font-family: $font;
}

button {
    cursor: pointer;
}

button, li, ul, a {
    :hover {
        color: $cyan-gradient ;
    }
}


body {
    font-family: $font-body;
}