@import './variable.scss';
@import './reset.scss';

header {
    padding: 45px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro, header {
    background-color: $intro-email-background;
}

main {
    background-color: $main-background;
    color: $white;
}

