@import './variable.scss';
@import './reset.scss';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 25px 25px 40px;
    background-color: $intro-email-background;
    
    img {
        width: 90px;
    }
    
    button {
        font-size: 16px;
        background: none;
        border: none;
        padding-left: 15px;

        a {
            color: $white;
        }
    }
}


main {
    background-color: $main-background;
    color: $white;
    
    .illustration {
        width: 100%;
    }

    h1 {
        font-size: 1.8rem;
        text-align: center;
        line-height: 3rem;
    }

    h2 {
        font-size: 1.4rem;
        text-align: center;
        margin: 30px auto 20px;
    }

    p {
        text-align: center;
        line-height: 1.8rem;
    }
    
    .intro {
        background-color: $intro-email-background;
        background-image: url(../projeto/images/bg-curvy-mobile.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: bottom;

        padding: 20px 40px 90px;
    }

    .intro_text {
        transform: translateY(-120px);
        padding: 20px 25px;

        h1 {
            padding: 35px 0;
        }

        p {
            padding-bottom: 30px;
        }
        
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;

            width: 70%;
            height: 55px;

            font-weight: 700;
            font-size: 1.2rem;
            color: $white;
            background-color: $blue-gradient;
            border: none;
            border-radius: 2.5rem;
        }
    }

    .actions {
        padding: 25px;
        margin-top: -100px;
        margin-bottom: 30px;

        .action_block {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            img {
                margin-top: 30px;
            }
            
            p {
                flex: 1;
                margin-bottom: 40px;
            }
        }
    }

    .productive {
        padding: 10px 25px 80px;

        p {
            text-align: start;
            margin-bottom: 20px;
        }

        .button_productive {
            display: flex;
            align-items: center;

            border: none;
            border-bottom: solid $cyan-gradient 1.5px;

            color: $cyan-gradient;
            background: none;

            padding: 0px 0px 7px;

            cursor: pointer;

            img {
                margin-left: 5px;
            }
        }
    }

    .works {
        padding: 40px 20px 0px;

        .apostrophe_works {
            display: block;
            width: 30px;
        }

        .container_works {
            background-color: $intro-email-background;
            padding: 25px 25px 20px;
            margin: auto 20px 20px;
            border-radius: 0.5rem;

            p {
                font-size: 0.9rem;
                line-height: 1.5rem;
                text-align: start;

                padding-bottom:20px;
            }

            .founder_works {
                display: flex;
                align-items: center;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }

                .founder_info {
                    margin-left: 10px;
                    h3 {
                        font-size: 0.8rem;
                    }
    
                    p {
                        font-size: 0.7rem;
                        padding: 0px;
                    }
                }
            }
        }

        .container_support {
            background-color: $intro-email-background;
            padding: 25px 25px 20px;
            border-radius: 0.5rem;
            transform: translateY(200px);

            h2 {
                margin: 20px auto 30px;
            }

            p {
                margin-bottom: 30px;
            }

            input, button {
                width: 100%;
                margin-bottom: 20px;
                padding: 20px;
                border: none;
                border-radius: 2.5rem;
            }

            button {
                background-color: $cyan-gradient;
                font-weight: 700;
                color: $white;
            }
        }
        
    }
}

footer {
    background-color: $footer-background;
    padding: 300px 40px 30px;

    a, p{
        color: $white;
    }

    .infor_footer {
        display: flex;
        margin-bottom: 15px;

        img {
            height: min-content;
            margin-right: 20px;
        }

        p {
            padding: 0;
            line-height: 1.8rem;
        }
        
    }

    .location {
        margin-top: 40px;
        img {
            height: 23px;
        }
        
        p {
            padding: 0 15px 0 5px;
        }
    }

    ul {

        :first-child {
            margin-top: 40px;
        }

        div {
            margin-bottom: 40px;

            li {
                padding: 5px 0;
            }

        }
    }

    .attribution {
        text-align: center;
        line-height: 1.8rem;
        a {
            color: $cyan-gradient;
        }
    }
} 

@media(min-width: 650px) {

    header {
        padding: 55px 75px 40px;
    }
    
    main {
        .illustration {
            display: flex;
            margin: auto;
            width: 70%;
        }

        .intro {
            padding: 20px 40px 220px;
        }

        .intro_text {
            transform: translateY(-220px);
            padding: 0px 50px;
            
            p {
                padding-left: 60px;
                padding-right: 60px;
            }
        }

        .actions {
            margin-top: -150px;
            display: flex;
            flex-flow: wrap;

            .action_block {
                flex: 1;
                margin: 0 20px;
                min-width: 40%;

                img {
                    flex: 1;
                    max-width: 70px;
                    max-height: 70px;
                }
            }
             
        }

        .productive {
            padding: 10px 55px 50px;

            h2 {
                margin: 60px auto 20px;
            }
        }

        .works {
            padding: 40px 50px 0px;

            .container_support {
                margin: 0 30px;
            }
        }

        
    }

    footer {
        ul {
            :first-child {
                margin-top: 0;
            }
            display: flex;
            div {
                margin: 40px 60px 40px 0 !important;
            }
        }
    }
}

@media(min-width: 1024px) {
    main {
        h1{
            font-size: 2.8rem;
            line-height: 3.5rem;
        }

        p {
            font-size: 1.4rem;
            line-height: 2rem;
        }

        .illustration {
            width: 700px;
        }

        .intro {
            background-image: url(../projeto/images/bg-curvy-desktop.svg);
            padding-bottom: 550px;
        }

        .intro_text {
            transform: translateY(-560px);
            width: 750px;
            margin: auto;
            padding: 20px 25px;

            button {
                width: 250px;
            }
        }
        
        .actions {
            margin: -400px 10vw auto;

            .action_block {
                // margin: 0 50px 50px 50px;
                max-width: 550px;

                img {
                    max-width: none;
                    max-height: none;
                }

                p {
                    margin: auto 0px 50px;
                    font-size: 1.1rem;
                    padding: 0 50px;
                }
            }
        }

        .productive {
            margin: 100px 20px 50px 20px;
            display: flex;

            .illustration {
                // width: 450px;
            }

            div {
                margin: 70px 0px 20px 50px;
            }

            h2 {
                margin: 0px 0px 20px;
                font-size: 2.4rem;
                line-height: 3.5rem;
                width: 350px;
                text-align: start;
            }
        }

        .works {
            .apostrophe_works {
                width: auto;
                margin-bottom: -5px;
                position: relative;
            }
            
            .founders_works {
                display: flex;
    
                .container_works {
                    padding: 35px 35px 30px;
                }
            }

            
        }

    }

    
}

@media(min-width: 1200px){
    main {
        .works {
            .container_support {
                padding: 50px 70px 40px;
                margin: auto;

                width: 1100px;
                transform: translateY(140px);
                
                p {
                    margin: auto 30px 30px;
                }

                .inputs {
                    display: flex;

                    input {
                        padding: 20px 20px 20px 40px;
                    }

                    button {
                        margin-left: 50px;
                        width: 450px;
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }

    footer {
        padding: 250px 100px 50px;

        .container_content {
            display: flex;
            .info {
                display: flex;
                margin: 40px 100px auto 0px;
    
                .location {
                    margin-top: 0px;
                    margin-right: 100px;
                    p {
                        width: 300px;
                    }
                }
            }
        }
    }
}