* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

*, li, a, ul {
  list-style: none;
  text-decoration: none;
}

h1, h2, h3, p, button {
  font-family: "Raleway", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 25px 40px;
  background-color: #1c2431;
}

header img {
  width: 90px;
}

header button {
  font-size: 16px;
  background: none;
  border: none;
  padding-left: 15px;
}

header button a {
  color: white;
}

main {
  background-color: #181f2a;
  color: white;
}

main .illustration {
  width: 100%;
}

main h1 {
  font-size: 1.8rem;
  text-align: center;
  line-height: 3rem;
}

main h2 {
  font-size: 1.4rem;
  text-align: center;
  margin: 30px auto 20px;
}

main p {
  text-align: center;
  line-height: 1.8rem;
}

main .intro {
  background-color: #1c2431;
  background-image: url(../projeto/images/bg-curvy-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
  padding: 20px 40px 90px;
}

main .intro_text {
  -webkit-transform: translateY(-120px);
          transform: translateY(-120px);
  padding: 20px 25px;
}

main .intro_text h1 {
  padding: 35px 0;
}

main .intro_text p {
  padding-bottom: 30px;
}

main .intro_text button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 70%;
  height: 55px;
  font-weight: 700;
  font-size: 1.2rem;
  color: white;
  background-color: #339ecc;
  border: none;
  border-radius: 2.5rem;
}

main .actions {
  padding: 25px;
  margin-top: -100px;
  margin-bottom: 30px;
}

main .actions .action_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main .actions .action_block img {
  margin-top: 30px;
}

main .actions .action_block p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 40px;
}

main .productive {
  padding: 10px 25px 80px;
}

main .productive p {
  text-align: start;
  margin-bottom: 20px;
}

main .productive .button_productive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-bottom: solid #65e2d9 1.5px;
  color: #65e2d9;
  background: none;
  padding: 0px 0px 7px;
  cursor: pointer;
}

main .productive .button_productive img {
  margin-left: 5px;
}

main .works {
  padding: 40px 20px 0px;
}

main .works .apostrophe_works {
  display: block;
  width: 30px;
}

main .works .container_works {
  background-color: #1c2431;
  padding: 25px 25px 20px;
  margin: auto 20px 20px;
  border-radius: 0.5rem;
}

main .works .container_works p {
  font-size: 0.9rem;
  line-height: 1.5rem;
  text-align: start;
  padding-bottom: 20px;
}

main .works .container_works .founder_works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .works .container_works .founder_works img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

main .works .container_works .founder_works .founder_info {
  margin-left: 10px;
}

main .works .container_works .founder_works .founder_info h3 {
  font-size: 0.8rem;
}

main .works .container_works .founder_works .founder_info p {
  font-size: 0.7rem;
  padding: 0px;
}

main .works .container_support {
  background-color: #1c2431;
  padding: 25px 25px 20px;
  border-radius: 0.5rem;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
}

main .works .container_support h2 {
  margin: 20px auto 30px;
}

main .works .container_support p {
  margin-bottom: 30px;
}

main .works .container_support input, main .works .container_support button {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  border: none;
  border-radius: 2.5rem;
}

main .works .container_support button {
  background-color: #65e2d9;
  font-weight: 700;
  color: white;
}

footer {
  background-color: #0b1523;
  padding: 300px 40px 30px;
}

footer a, footer p {
  color: white;
}

footer .infor_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

footer .infor_footer img {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-right: 20px;
}

footer .infor_footer p {
  padding: 0;
  line-height: 1.8rem;
}

footer .location {
  margin-top: 40px;
}

footer .location img {
  height: 23px;
}

footer .location p {
  padding: 0 15px 0 5px;
}

footer ul :first-child {
  margin-top: 40px;
}

footer ul div {
  margin-bottom: 40px;
}

footer ul div li {
  padding: 5px 0;
}

footer .attribution {
  text-align: center;
  line-height: 1.8rem;
}

footer .attribution a {
  color: #65e2d9;
}

@media (min-width: 650px) {
  header {
    padding: 55px 75px 40px;
  }
  main .illustration {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    width: 70%;
  }
  main .intro {
    padding: 20px 40px 220px;
  }
  main .intro_text {
    -webkit-transform: translateY(-220px);
            transform: translateY(-220px);
    padding: 0px 50px;
  }
  main .intro_text p {
    padding-left: 60px;
    padding-right: 60px;
  }
  main .actions {
    margin-top: -150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  main .actions .action_block {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0 20px;
    min-width: 40%;
  }
  main .actions .action_block img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 70px;
    max-height: 70px;
  }
  main .productive {
    padding: 10px 55px 50px;
  }
  main .productive h2 {
    margin: 60px auto 20px;
  }
  main .works {
    padding: 40px 50px 0px;
  }
  main .works .container_support {
    margin: 0 30px;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer ul :first-child {
    margin-top: 0;
  }
  footer ul div {
    margin: 40px 60px 40px 0 !important;
  }
}

@media (min-width: 1024px) {
  main h1 {
    font-size: 2.8rem;
    line-height: 3.5rem;
  }
  main p {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  main .illustration {
    width: 700px;
  }
  main .intro {
    background-image: url(../projeto/images/bg-curvy-desktop.svg);
    padding-bottom: 550px;
  }
  main .intro_text {
    -webkit-transform: translateY(-560px);
            transform: translateY(-560px);
    width: 750px;
    margin: auto;
    padding: 20px 25px;
  }
  main .intro_text button {
    width: 250px;
  }
  main .actions {
    margin: -400px 10vw auto;
  }
  main .actions .action_block {
    max-width: 550px;
  }
  main .actions .action_block img {
    max-width: none;
    max-height: none;
  }
  main .actions .action_block p {
    margin: auto 0px 50px;
    font-size: 1.1rem;
    padding: 0 50px;
  }
  main .productive {
    margin: 100px 20px 50px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .productive .illustration {
    width: 450px;
  }
  main .productive div {
    margin: 70px 0px 20px 50px;
  }
  main .productive h2 {
    margin: 0px 0px 20px;
    font-size: 2.4rem;
    line-height: 3.5rem;
    width: 350px;
    text-align: start;
  }
  main .works .apostrophe_works {
    width: auto;
    margin-bottom: -5px;
    position: relative;
  }
  main .works .founders_works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .works .founders_works .container_works {
    padding: 35px 35px 30px;
  }
  main .works h2 {
    font-size: 2.4rem;
    line-height: 3.5rem;
  }
}

@media (min-width: 1200px) {
  main .productive .illustration {
    width: 700px;
  }
  main .works .container_support {
    padding: 50px 70px 40px;
    margin: auto;
    width: 1100px;
    -webkit-transform: translateY(140px);
            transform: translateY(140px);
  }
  main .works .container_support p {
    margin: auto 30px 30px;
  }
  main .works .container_support .inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .works .container_support .inputs input {
    padding: 20px 20px 20px 40px;
  }
  main .works .container_support .inputs button {
    margin-left: 50px;
    width: 450px;
    font-size: 1.4rem;
  }
  footer {
    padding: 250px 100px 50px;
  }
  footer .container_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .container_content .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 40px 100px auto 0px;
  }
  footer .container_content .info .location {
    margin-top: 0px;
    margin-right: 100px;
  }
  footer .container_content .info .location p {
    width: 300px;
  }
}
/*# sourceMappingURL=styles.css.map */